body {
  background-color: antiquewhite;
}

h1 {  
  height: 300px;
  font-family: "OpenSans-Regular";
  background-color: aquamarine;
  background-image: url($img-folder + 'buterfly.jpg');
  background-size: cover;
  box-shadow: 2px 2px 2px rgba($color: #000000, $alpha: .5)
}

.icon {
  display: inline-block; 
  width: 1em;
  height: 1em; 
  background: red;
  // fill: currentColor;
  // background: #62d1ba;

  &-webpack {
    width: 200px;
    height: 200px;
    // fill: red;    
  }
}